
#root.overlay-open {
  overflow: hidden;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: flex-end;

  .components-modal {
      background: $colors-greyscale-white;
      width: calc(100% - 20%);
      height: 100vh;
      overflow: auto;
      animation-name: animateRightToLeft;
      animation-duration: 1s;
  }
}

@keyframes animateRightToLeft {
  0% {
      width: 0;
  }

  100% {
      width: calc(100% - 20%);
  }
}


